@model Project3.Data.PaginatedList<Project3.Data.Models.Comments>;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    foreach (var comment in Model)
    {

        <li data-coid="@comment.coid">
            <div class="commenthead"><img src="https://www.gravatar.com/avatar/@Project3.Extensions.MD5Extension.Encrypt(comment.mail)?s=256&d=monsterid" /></div>
            <div class="commentcontent">
                @{
                    var reply = "";
                    if (!string.IsNullOrEmpty(comment.reply))
                    {
                        reply = "<label>回复</label> <label class=\"nickname\">@" + comment.reply + "</label>";

                    }
                }
                <div class="commentheader"><label class="nickname">@comment.nickname</label>@reply</div>
                <div class="commentreply">@comment.content</div>
                <div class="commentaction">
                    <a href="#form" data-reply="@comment.nickname" data-parentcoid="@comment.coid" data-action="reply">回复</a>
                </div>
            </div>
         
        </li>
    }
}
