@model CommentListViewModel;
@{
    ViewData["Title"] = "管理评论";
}



<form method="get">



    <div style="background-color:#fff;padding:10px 20px;">
        <table class="table table-hover">

            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>昵称</th>
                    <th>邮箱</th>
                    <th>IP</th>
                    <th>内容</th>
                    <th>时间</th>
                    <th>归属</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model.comments)
                {

                    <tr>
                        <td><input type="checkbox" name="coid" value="@comment.coid" /></td>

                        <td>@comment.nickname</td>
                        <td>@comment.mail</td>
                        <td>@comment.ip</td>
                        <td>@comment.content</td>
                        <td>@comment.createtime</td>
                        <td>

                            <a asp-controller="content" asp-action="edit" asp-route-cid="@comment.cid">
                                @(await Model.contentExtension.GetTitleByCid(comment.cid))
                            </a>

                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <div class="table-toolbar clearfix row" style="margin-top:10px;">
        <div class="col-md-5">
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        选中项
                        <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu action" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a data-tip="请确认是否删除所选内容" asp-action="Delete_Post">删除</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--分页处理-->
        @{
            var prevDisabled = !Model.comments.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.comments.HasNextPage ? "disabled" : "";
        }
        @{
            if (Model.comments.TotalPages > 1)
            {
                <div class="col-md-7 text-right">
                    <ul class="pagination pagination-sm" style="margin:0;">
                        <li class="page-item @prevDisabled">
                            <a class="page-link"
                               asp-route-pageindex="@(Model.pageindex - 1)">上页</a>
                        </li>
                        <li class="page-item"><span>@(Model.comments.PageIndex)/@(Model.comments.TotalPages)</span></li>

                        <li class="page-item @nextDisabled">
                            <a class="page-link"
                               asp-route-pageindex="@(Model.pageindex + 1)">下页</a>
                        </li>
                    </ul>
                </div>
            }
        }
    </div>


</form>
